{{ define "main" }}
<article class="text">
  <h1 class="text__title baffle">{{ .Title | markdownify }}</h1>

{{ partial "search.html" . }}

<input class="search__input" id="search-input" type="text" placeholder="Des idées pour..." autocomplete="off" name="search">

  <section class="text__content">
    {{ partial "typography.html" . }}
  </section>

<section id="search-results" class="search"></section>

</article>

{{ end }}

