{{ define "main" }}
<article class="article">
  <h1 class="list__title baffle">{{ .Title | markdownify }}</h1>

  <section class="article__content">
    {{ partial "typography.html" . }}
  </section>
</article>

{{ end }}

