{{ define "main" }}
<article class="article">

<div class="article__header">
{{ if .Params.images }}

{{ range first 1 .Params.images }}
  <div class="glitch-image">
    <img class="lazy article__image"
         data-src="{{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}.jpg" alt="{{ $.Page.Title | markdownify }}"
         data-sizes="(max-width: 80em) 100vw, 1000px"
         data-srcset="{{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}-small.jpg 300w,
                 {{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}-medium.jpg 600w,
                 {{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}-large.jpg 1200w,
                 {{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}.jpg 2000w">
    <img class="lazy article__image"
         data-src="{{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}.jpg" alt="{{ $.Page.Title | markdownify }}"
         data-sizes="(max-width: 80em) 100vw, 1000px"
         data-srcset="{{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}-small.jpg 300w,
                 {{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}-medium.jpg 600w,
                 {{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}-large.jpg 1200w,
                 {{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}.jpg 2000w">
    <img class="lazy article__image"
         data-src="{{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}.jpg" alt="{{ $.Page.Title | markdownify }}"
         data-sizes="(max-width: 80em) 100vw, 1000px"
         data-srcset="{{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}-small.jpg 300w,
                 {{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}-medium.jpg 600w,
                 {{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}-large.jpg 1200w,
                 {{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}.jpg 2000w">
  </div>
{{ end }}

<h1 class="article__title baffle">{{ .Title | markdownify }}</h1>
{{ end }}
</div>

  <section class="article__content">
    {{ partial "typography.html" . }}
  </section>

  {{ if .Params.persona }}
  <div class="article__persona">
    par
  {{ range .Params.persona -}}
    <a class="baffle" href="{{ $.Site.BaseURL }}persona/{{ . | urlize }}/">{{ . }}</a>
  {{ end }}
  </div>
  {{ end }}

  <section class="article__info">
    <time class="article__date" datetime="{{ .Lastmod.Format "2006-01-02" }}">le {{ .Lastmod.Day }} {{ index $.Site.Data.mois (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }}</time>

      {{ if .Params.espace }}
      <span class="article__espace">
      espace(s)&nbsp;:&nbsp;
      {{- range .Params.espace -}}
        <a href="{{ $.Site.BaseURL }}espace/{{ . | urlize }}/">@{{ . }}</a>
      {{ end }}
      </span>

      {{ if .Params.echo }}
      <span class="article__echo">
      écho(s)&nbsp;:&nbsp;
      {{- range .Params.echo -}}
        <a href="{{ $.Site.BaseURL }}echo/{{ . | urlize }}/">#{{ . }}</a>
      {{ end }}
      </span>
      {{ end }}

      {{ end }}
  </section>
</article>

  {{ partial "social.html" . }}

<section class="pagination">
  {{ if .PrevInSection }}
  <span class="pagination__nav"><a href="{{ .PrevInSection.Permalink }}">passé</a></span>
  {{ else }}
  <span class="pagination__nav pagination__nav--off">passé</span>
  {{ end }}

  <span class="pagination__nav"><a href="{{ .Site.Params.gitURL }}/commits/master/content/{{ .File.Path }}" target="_blank">historique</a></span>

  {{ if .NextInSection }}
  <span class="pagination__nav"><a href="{{ .NextInSection.Permalink }}">futur</a></span>
  {{ else }}
  <span class="pagination__nav pagination__nav--off">futur</span>
  {{ end }}
</section>

{{ end }}

