{{ define "main" }}
<section class="list list--articles">

<h1 class="list__title baffle">{{ .Title | markdownify }}</h1>

  {{ if .Content }}
<div class="list__info">{{ partial "typography.html" . }}</div>
  {{ end }}

  {{ range .Pages.ByTitle }}
  <article class="article">
    <h2 class="list__term"><a class="baffle" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
  </article>

  {{ end }}
</section>
{{ end }}

