{{ define "main" }}
{{ if .Page.Params.Title }}<h1 class="glitch" data-text="{{ .Page.Params.Title }}">{{ .Page.Params.Title }}</h1>{{ end }}

         {{ .Content }}

    <ul class="list list--archives">
    {{ range where .Site.RegularPages.ByDate.Reverse "Section" "articles" }}
    <li>~/{{ .Date.Year }}/{{ .Date.Format "01" }}/{{ .Date.Format "02" }}/<br><a class="noindent" href="{{ .RelPermalink }}">{{ .Title | markdownify }}/*</a></li>
    {{ end }}
    </ul>

{{ end }}
