<article class="item">

<a class="item__link" href="{{.Permalink}}">

  {{ if .Params.images }}
  {{ range first 1 .Params.images }}
  <img class="lazy item__image image"
       data-src="{{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}.jpg" alt="{{ $.Page.Title | markdownify }}"
       data-sizes="300px"
       data-srcset="{{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}-small.jpg 300w,
               {{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}-medium.jpg 600w,
               {{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}-large.jpg 1200w,
               {{ $.Site.BaseURL }}{{ trim . ".jpg" | urlize }}.jpg 2000w">
  {{ end }}
  {{ end }}

  <h1 class="item__word baffle">{{ .Params.mot | markdownify }}</h1>
</a>
</article>
