<footer>&nbsp;</footer>

{{ $lazyload := resources.Get "js/lazyload.min.js" }}
{{ $jquery := resources.Get "js/jquery.min.js" }}
{{ $fancybox := resources.Get "js/jquery.fancybox.min.js" }}
{{ $baffle := resources.Get "js/baffle.min.js" }}
{{ $global := resources.Get "js/global.js" }}
{{ $js := slice $lazyload $jquery $fancybox $baffle $global | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
<script async src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>

{{ if .Params.library }}
  {{- range .Params.library -}}
    <script src="{{ $.Site.BaseURL }}js/{{ . | urlize }}"></script>
  {{ end }}
{{ end }}

{{ if .Params.script }}
  <script>
      {{ .Params.script | safeJS }}
  </script>
{{ end }}

