<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<title>{{ if eq .Title .Site.Title }}{{ .Title | markdownify }}{{ else }}{{ .Title | markdownify }} – {{ .Site.Title | markdownify }}{{ end }}</title>
<link rel="canonical" href="{{ .Permalink }}">
<meta name="description" content="{{ .Site.Params.Description }}">
<meta name="robots" content="index, follow">
<script type="text/javascript"> // Redirection source: https://gitlab.com/gitlab-org/gitlab/issues/302
if (location.hostname.search("gitlab.io") != -1) { var path; if (location.pathname.lastIndexOf("/", 0) === 0) { path = location.pathname; } else { path = "/" + location.pathname; } location.href = "{{ substr .Site.BaseURL 0 -1 }}" + path + location.search + location.hash; }
</script>

{{- $css := resources.Get "css/style.css" -}}
{{ $style := $css | resources.PostCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ if .Params.style -}}
  {{- range .Params.style -}}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}css/options/{{ . | urlize }}">
  {{- end -}}
{{- end }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicon/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon/favicon-16x16.png" | absURL }}">
<link rel="manifest" href="{{ "/favicon/site.webmanifest" | absURL }}">
<link rel="mask-icon" href="{{ "/favicon/safari-pinned-tab.svg" | absURL }}" color="#000000">
<link rel="shortcut icon" href="{{ "/favicon/favicon.ico" | absURL }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="{{ "/favicon/browserconfig.xml" | absURL }}">
<meta name="theme-color" content="#ffffff">
<script type="text/javascript">var _paq = window._paq = window._paq || []; _paq.push(['disableCookies']); _paq.push(['trackPageView']); _paq.push(['enableLinkTracking']); (function() { var u="//www.abrupt.cc/u/"; _paq.push(['setTrackerUrl', u+'matomo.php']); _paq.push(['setSiteId', '4']); var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s); })();</script>
{{ template "_internal/opengraph.html" . }}
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
