<button class="btn btn--menu">
<svg xmlns="http://www.w3.org/2000/svg" class="icone icone--info"  viewBox="0 0 100 100">
    <rect x="0" y="0" width="100" height="100" />
</svg>
</button>

<header class="menu">
    <p class='menu__item'>{{ .Site.Params.menu | markdownify }}</p>
</header>
