{{ define "main" }}

<button class="btn btn--shuffle">
<svg xmlns="http://www.w3.org/2000/svg" class="icone icone--info"  viewBox="0 0 100 100">
    <rect x="0" y="0" width="100" height="100" />
</svg>
</button>

  <div class="grid">
  {{ range (where .Site.RegularPages "Section" "articles").ByDate.Reverse }}

    {{ partial "display.html" . }}

  {{ end }}
  </div>

<script src="/js/sortable.min.js"></script>

<script>
// Grid scripts
// Sortable for Grid
  var container = document.querySelector('.grid');
  var sortable = Sortable.create(container, {
    animation: 500,
    draggable: ".item",
    fallbackTolerance: 3,
  });

// Shuffle Grid
function shuffle() {
  for (let i = container.children.length; i >= 0; i--) {
    container.appendChild(container.children[Math.random() * i | 0]);
  }
}

const shuffleBtn = document.querySelector('.btn--shuffle');
shuffleBtn.addEventListener('click', (e) => {
  e.preventDefault();
  shuffle();
  shuffleBtn.animate([
    { transform: 'rotate(0)' },
    { transform: 'rotate(-90deg)' },
    { transform: 'rotate(0)' },
  ], {
    duration: 300,
    iterations: 1
  });
  container.animate([
    { transform: 'translate(0,0)' },
    { transform: 'translate(5px,0)' },
    { transform: 'translate(0,0)' },
    { transform: 'translate(5px,0)' },
    { transform: 'translate(0,0)' },
    { transform: 'translate(5px,0)' },
    { transform: 'translate(0,0)' },
    { transform: 'translate(5px,0)' },
    { transform: 'translate(0,0)' }
  ], {
    duration: 300,
    iterations: 1
  });
});
</script>

{{ end }}

