/*!
 * Style
 */

@font-face {
  font-family: 'Crimson';
  src:
    url('./fonts/crimson/crimson-roman-webfont.woff2') format('woff2'),
    url('./fonts/crimson/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('./fonts/crimson/crimson-italic-webfont.woff2') format('woff2'),
    url('./fonts/crimson/crimson-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('./fonts/crimson/crimson-bold-webfont.woff2') format('woff2'),
    url('./fonts/crimson/crimson-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('./fonts/crimson/crimson-bolditalic-webfont.woff2') format('woff2'),
    url('./fonts/crimson/crimson-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Fira Mono';
  src:
    url('./fonts/fira/fira-mono.woff2') format('woff2'),
    url('./fonts/fira/fira-mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  font-family: "Crimson", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 2rem;
  color: #333;
  background: #fff;
  letter-spacing: 0.01rem;
  line-height: 1.62;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 70em) { /* 1120 px */
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

@media (min-width: 80em) { /* 1280px */
  body {
    font-size: 2.6rem;
  }
}

/* Tapping delay off */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  touch-action: manipulation;
}

h1,
h2,
h3 {
  letter-spacing: 0.01rem;
  margin: 2em 0 0;
  line-height: inherit;
  font-weight: bold;
  font-size: 1em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 1em 0 0;
}

p {
  /* max-width: 66ch; */
  margin: 1.62em 0;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

em {
  font-style: italic;
}

::-moz-selection {
  color: #333;
  background-color: #f00;
  text-shadow: none;
}

::selection {
  color: #333;
  background-color: #f00;
  text-shadow: none;
}

a {
  margin: 0;
  color: #333;
  /* text-decoration: underline solid #f00 2px; */
  /* border-bottom: 1px dotted #f00; */
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(to bottom, #f00 0%, #f00 100%);
	background-position: 0 75%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
}

a:hover,
a:focus,
a:active {
  /* text-decoration: line-through solid #f00 2px; */
  /* text-decoration: none; */
  /* background: #f00; */
  /* border-bottom: none; */
  outline: none;
  background-size: 4px 50px;
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  /* vertical-align: top; */
  transform-origin: center center;
}

main,
header,
footer,
article,
section {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

main {
  display: block;
  margin: 0 auto;
}

header {
  text-align: center;
}

footer {
  color: #777;
  margin: 0;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  font-size: 0;
}

/* With Lazyload: prevents img without src to appear */
img:not([src]) {
    visibility: hidden;
}

figure {
  margin: 0 0 1.62em;
}

figcaption p {
  margin-top: 0;
  font-size: 0.8em;
}

video {
  width: 100%;
  outline: none;
  border: 0;
}

iframe {
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

pre {
  display: block;
  text-indent: none;
  width: 100%;
  font-family: 'Fira Mono', 'Roboto Mono', Menlo, Consolas, 'Liberation Mono', monospace;
  font-size: 1em;
  border-left: 2px solid #333;
  margin: 0;
  padding: 1.62em 0 1.62em 1.62em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

code,
kbd {
  font-family: 'Fira Mono', 'Roboto Mono', Menlo, Consolas, 'Liberation Mono', monospace;
  font-size: 0.8em;
  border: none;
  /* padding: 0.2em 1em; */
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  padding: 0;
}

blockquote {
  display: block;
  width: 100%;
  font-size: inherit;
  font-style: italic;
  border-left: 2px solid #333;
  padding: 1.62em 0 1.62em 1.62em;
  margin: 1.62em 0;
}

blockquote p {
  margin: 0;
}

blockquote p + p {
  margin-top: 1em;
}

textarea {
  overflow: auto;
  resize: vertical;
}

hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid #333;
  margin: 3em auto;
  padding: 0;
}

abbr[title] {
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px dotted #333;
  text-align: center;
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 62%;
  max-width: 400px;
  font-size: inherit;
  background-color: #333;
  color: #fff;
  padding: 0.5em;
}

ol {
  list-style: decimal outside;
  margin-left: 1em;
}

ul {
  margin: 0 0 1.62em;
  list-style: circle;
}

li {
  line-height: 1.62;
  margin: 0;
}

/* Media Queries */

@media (min-width: 30em) { /* 480px */
}

@media (min-width: 50em) { /* 800px */
}

@media (min-width: 80em) { /* 1280px */
}

@media print {
  @page {
    size: auto;
    margin: 0;
  }

  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }

  .btn--menu,
  .btn-shuffle {
    display: none;
  }
}
