/* Spécificités */
.log_article {
  margin-bottom: 1.6em;
}
.log_article__titre {
	font-style: italic;
}
.log_article__fin--liste {
  margin-bottom: 0em;
	font-style: italic;
}
.log_article__fin--article {
  margin-bottom: 1.6em;
	font-style: italic;
}
.log_en_tete_lien {
	width: 100%;
	border: none;
  outline: 0;
	font-style: unset;
	height: 100%;
}
.log_en_tete_lien figure {
  margin: 0;
}
.log_pagination {
  margin-top: 1.6em;
  display: flex;
  justify-content: space-between;
}
.log_pagination__avant {
  flex: 1 1;
}
.log_pagination__apres {
  flex: 1 1;
  text-align: right;
}

/* Sortable list */
.sortable .element {
  margin: 0;
  cursor: move;
}
.sortable .element:hover {
  background: #f00;
}
.element--move {
  background: #f00;
}

/* Baffle pour symptômes de ruine */
.baffle-container {
  font-family: 'Fira Mono', Courier New, monospace;
  margin: 0 0 1.6em;
  display: inline-block;
}

.baffle-container__box {
  display: inline-block;
  /* background-color: black; */
  /* color: #666; */
  border: 2px solid #333333;
  padding: 16px;
  /* transition: border 500ms ease-out; */
}
.baffle-container__box:hover {
  /* color: #ff0000; */
  /* background-color: #ff0000; */
  border: 2px solid #ff0000;
  cursor: pointer;
}
/* pour resizing dans capharnaum par ex */
.resize-container {
  /* display: block; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow:row wrap;
}
.resize-drag {
  background-color: #ffffff;
  border: 2px solid #333333;
  font-size: 20px;
  /* font-family: sans-serif; */
  padding: 10px;
  margin: 0.1em 0.1em;
  /* display: inline-block; */
  touch-action: none;
  overflow: hidden;
  /* width: 50%; */
  /* This makes things *much* easier */
  box-sizing: border-box;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.resize-drag--invert {
  border: 2px solid rgba(0,0,0,0);
  font-size: inherit;
}

.resize-drag:hover,
.resize-drag:active,
.resize-drag:focus {
  /* color: #ff0000; */
  /* background-color: #ff0000; */
  border: 2px solid #ff0000;
}
.resize-drag::-moz-selection {
  color: #333333;
  background-color: white;
}
.resize-drag::selection {
  color: #333333;
  background-color: white;
}

/* Pour HTTP la hess */
/*Center the weird text*/
.ivresse {
	display: block;
  color: rgba(0,255,255,0.5);
  text-shadow: rgba(255,0,0,0.5) -4px 0px 0px;
}
.ivresse::selection {
  color: #333333;
  text-shadow: rgba(255,0,0,0.5) -2px 0px 0px;
  background-color: rgba(255,255,0,1);
}

/* pour les haikus */
.haiku {
  font-size: 1em;
}

@media (min-width: 45em) { /* 720px */
  .haiku {
    font-size: 1.4em;
  }
}
