/* Class struggle */

/* Main container */
.container {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
}
/* Grid home */
.grid {
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 2em;
  justify-content: center;
}

.item {
  height: 250px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #000;
  border: 2px solid #000;
  box-shadow: -1px 1px 0px #000,
              -2px 2px 0px #000,
              -3px 3px 0px #000,
              -4px 4px 0px #000,
              -5px 5px 0px #000,
              -6px 6px 0px #000,
              -7px 7px 0px #000,
              -8px 8px 0px #000,
              -9px 9px 0px #000,
            -10px 10px 0px #000;
}

.item:hover {
  cursor: move;
  border: 2px solid #f00;
  box-shadow: -1px 1px 0px #f00,
              -2px 2px 0px #f00,
              -3px 3px 0px #f00,
              -4px 4px 0px #f00,
              -5px 5px 0px #f00,
              -6px 6px 0px #f00,
              -7px 7px 0px #f00,
              -8px 8px 0px #f00,
              -9px 9px 0px #f00,
            -10px 10px 0px #f00;
  /* transform: translate(-10px, 10px); */
  /* box-shadow: unset; */
  /* box-shadow: 1px 1px 0px #f00, */
  /*             2px 2px 0px #f00, */
  /*             3px 3px 0px #f00, */
  /*             4px 4px 0px #f00, */
  /*             5px 5px 0px #f00, */
  /*             6px 6px 0px #f00, */
  /*             7px 7px 0px #f00, */
  /*             8px 8px 0px #f00, */
  /*             9px 9px 0px #f00, */
  /*           10px 10px 0px #f00; */
}

.item__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: move;
  border: none;
  z-index: 2;
  background: #000;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.item__link:hover,
.item__link:active,
.item__link:focus {
  background: none;
  color: none;
  text-decoration: none;
  border: none;
  animation: none;
}

.item__image {
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
  text-decoration: none;
  border: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: #000;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.item__word {
  margin: 0;
  font-size: 1.35em;
  z-index: 1;
  /* mix-blend-mode: difference; */
  color: white;
  text-align: center;
  width: 100%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

.grid .sortable-drag {
  border: 2px solid #f00;
  box-shadow: -1px 1px 0px #f00,
              -2px 2px 0px #f00,
              -3px 3px 0px #f00,
              -4px 4px 0px #f00,
              -5px 5px 0px #f00,
              -6px 6px 0px #f00,
              -7px 7px 0px #f00,
              -8px 8px 0px #f00,
              -9px 9px 0px #f00,
            -10px 10px 0px #f00;
  background: #000;
	opacity: 1;
}

/* Menu */
.hidden {
  display: none;
}
.menu {
  max-width: none;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 80vw;
  max-width: 1200px;
  height: 88vh;
  max-height: 500px;
  font-size: 1em;
  /* height: calc(var(--vh, 1vh) * 100); */
  z-index: 100;
  right: 0;
  overflow: hidden;
  padding: 1em;
  background: #fff;
  border: 5px solid #000;
  box-shadow: -1px 1px 0px #000,
              -2px 2px 0px #000,
              -3px 3px 0px #000,
              -4px 4px 0px #000,
              -5px 5px 0px #000,
              -6px 6px 0px #000,
              -7px 7px 0px #000,
              -8px 8px 0px #000,
              -9px 9px 0px #000,
            -10px 10px 0px #000;
}

@media (min-width: 40em) { /* 640px */
}

@media (min-width: 55em) { /* 880px */
  .menu {
    font-size: 1.5em;
    width: 80vw;
    max-width: 1200px;
    height: 70vh;
    max-height: 668px;
  }
}

.menu__item {
  margin: 0;
  hyphens: none;
}

.show--menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background: none;
  border: none;
  font: inherit;
  outline: none;
  color: #000;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: #fff;
  outline: none;
}

.btn--menu,
.btn--shuffle {
  z-index: 110;
  display: inline-block;
  position: fixed;
  margin: 0;
  width: 1em;
  height: 1em;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;

    svg {
      fill: #f00;
    }
  }

  svg {
    fill: #000;
  }

  svg.rotation {
    transform: rotate(45deg);
  }
}

.btn--menu {
  top: 0.4em;
  left: 0.4em;
}

.btn--shuffle {
  top: 0.4em;
  right: 0.4em;
}
@media (min-width: 30em) { /* 480px */
  .btn--menu {
    top: 1em;
    left: 1em;
  }

  .btn--shuffle {
    top: 1em;
    right: 1em;
  }
}

.btn--music {
  color: #333;
  border: 2px solid #f00;
  padding: 0.2em;

  .music--off {
    text-decoration: line-through solid #333;
    text-decoration-thickness: 2px;
  }
}

.btn--music:hover,
.btn--music:focus,
.btn--music:active {
  color: #333;
  border: 2px solid #333;
}

/* Article */
.article {
  margin: 0;
}

.article__header {
  margin: 0 0 1.62em;
  position: relative;
  width: 100%;
  height: 80vw;
  max-height: 100vh;
  /* max-height: calc(var(--vh, 1vh) * 100); */
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (min-height: 1000px) {
  .article__header {
    max-height: 1000px;
  }
}

.article__image {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
  text-decoration: none;
  border: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article__title {
  z-index: 1;
  letter-spacing: 0.01rem;
  line-height: inherit;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  margin: 0.2em;
  text-align: center;
}

@media (min-width: 40em) { /* 640px */
  .article__title {
    margin: 1em;
    font-size: 2em;
  }
}

@media (min-width: 70em) { /* 1120px */
  .article__title {
    margin: 1em;
    font-size: 3em;
  }
}

.article__persona {
  letter-spacing: 0.01rem;
  line-height: inherit;
  font-weight: bold;
  font-size: 1em;
  margin: 3.24em 0 1.62em;
  text-align: center;
}

.article__content {
  display: block;
}

.article__info {
  display: block;
  margin: 1.62em 0 0;
  text-align: center;
}

.article__date {
  display: block;
}

.article__espace {
  display: block;
}

.article__echo {
  display: block;
}

/* Pagination */
.pagination {
  margin-top: 1.62em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pagination__nav--off {
  color: #ccc;
}

/* Social sharing */
.social {
  display: block;
  margin: 0 auto 1.62em;
  text-align: center;
}

.social__icon {
  width: 1.62em;
  height: 1.62em;
  display: inline-flex;
  border-radius: 0;
  background: #fff;
}

.social__icon svg {
  text-align: center;
  margin: auto;
  width: 60%;
  height: 60%;
  fill: #333;
  stroke: none;
}

.social__link {
  display: inline-block;
  color: unset;
  font-style: normal;
  border-bottom: unset;
  background: unset;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
  background-color: unset;
  text-decoration: unset;

  .social__icon {
    background: #f00;
  }
}

/* Images and medias */
figure {
  margin: 0;
  margin-bottom: 1.62em;
}

figure img {
  cursor: pointer;
}

figcaption p {
  /* font-style: italic; */
  margin-top: 0;
  font-size: 1.5rem;
}

.imagehover {
  position: relative;
  float: left;
}

.imagehover img {
  cursor: not-allowed;
}

.imagehover .imagehover--deux {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imagehover:hover .imagehover--deux {
  display: block;
}

.figure--centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.figure--gauche {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.figure--droite {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

video {
  width: 100%;
  outline: none;
}

/* General typography */
.pasdeligneblanche {
  margin: 0;
}

.ligneblanchehaut {
  margin-top: 1.62em;
}

.ligneblanche {
  margin-bottom: 1.62em;
}

.centre {
  text-align: center;
}

.gauche {
  text-align: left;
}

.droite {
  text-align: right;
}

.noindent {
  text-indent: 0;
}

.nohyphen,
.nohyphen * {
  hyphens: none;
}

.nomargin {
  margin: 0;
}

.enumeration {
  list-style: decimal outside;
  margin-left: 3em;
}

.list {
  margin: 0;
  margin-bottom: 1.6em;
  list-style: none;
}

.list__title {
  letter-spacing: 0.01rem;
  line-height: inherit;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin: 1em;
  text-align: center;
}

.list__term {
  margin: 0;
  display: inline;
  letter-spacing: 0.01rem;
  line-height: inherit;
  font-weight: normal;
  font-size: 1em;
}

.list__info {
  font-style: italic;
  text-align: center;
  margin: 1.62em auto;

  p {
    margin: 1.62em auto;
    hyphens: none;
  }
}

.list__info em {
  font-style: normal;
}

.list--archives {
  /* Avec les espaces insécables */
  /* text-indent: -1.15em; */
  /* padding-left: 2.15em; */
  /* sans les espaces insécables */
  text-indent: -0.57em;
  padding-left: 0.57em;
}

.enumeration li {
  padding: 0 1em 1em;
}

.titreavecsuite {
  margin-bottom: 0em;
}

.highlight {
  background: #f00;
  color: #000;
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.1em 0.2em;
  cursor: pointer;
}

.highlight.highlight--red {
  background: rgba(255, 0, 0, 0.6);
  color: #000;
}

.highlight.highlight--invisible {
  background: transparent;
  color: #000;
}

@media (hover: hover) {
  .highlight:hover {
    background: #000;
    color: #000;
  }

  .highlight.highlight--invisible:hover {
    background: #000;
    color: #000;
  }
}

/* @media (hover: none) and (pointer: coarse) { */
/*   .highlight:hover { */
/*     background: #f00; */
/*   } */
/*   .highlight.highlight--invisible:hover { */
/*     background: #f00; */
/*   } */
/* } */


.italique {
  font-style: italic;
}

.epigraphe {
  font-style: italic;
  width: 62%;
  margin-left: auto;
  text-align: right;
}

.footnotes {
  font-size: 0.8em;
}

.footnotes hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid #333333;
  margin: 3em auto 3em;
  padding: 0;
}

.footnote-ref {
  margin-left: 0.1em;
}

.footnote-ref a[href^="#fn:"] {
  text-decoration: none;
  border-bottom: none;
  color: #ff0000;
	font-style: normal;
}

.footnote-ref a[href^="#fn:"]:hover,
.footnote-ref a[href^="#fn:"]:focus,
.footnote-ref a[href^="#fn:"]:active {
  color: #333333;
  text-decoration: none;
  outline: none;
}

.footnotes p:last-of-type {
  margin-bottom: 0em;
  display: inline;
}

.footnote-return {
  text-decoration: none;
  border-bottom: none;
  color: #ff0000;
	font-style: normal;
  background: unset;
}

.monospace {
  font-family: 'Fira Mono', Courier New, monospace;
}

/* Input and search */
.search__title {
  margin: 0;
  display: inline;
  letter-spacing: 0.01rem;
  line-height: inherit;
  font-weight: normal;
  font-size: 1em;
}

.search__summary p {
  display: inline;
}

.search__input {
  appearance: none;
  width: 100%;
  max-width: 300px;
  height: 2em;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  border: 0;
  border-bottom: 2px solid #333;
  border-top: 2px solid #333;
  background: none;
  border-radius: 0;
  margin: 1.62em 0;
  padding: 0.5em 0 0.25em;
  color: #333;
}

.search__input:hover,
.search__input:focus,
.search__input:active {
  border-bottom: 2px solid #f00;
  border-top: 2px solid #f00;
}

.btn--submit, .btn--submit input[type='submit'] {
  display: block;
  background-color: white;
  border: 1px dotted #ff0000 ;
  color: #333333;
  border-radius: 0rem;
  cursor: pointer;
  box-shadow: none;
  box-sizing: inherit;
  height: 100%;
  padding: 0.3em;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 0;
  line-height: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
}

.btn--submit:focus, .btn--submit:hover, .btn--submit input[type='submit']:focus, .btn--submit input[type='submit']:hover {
  border: 1px solid #ff0000;
  outline: none;
  background-color: rgba(255,0,0,1);
  color: #333333;
}

.btn--center {
  margin: 0 auto;
}

/* Animations */
/* CSShake - MIT - elrumordelaluz */
/* https://github.com/elrumordelaluz/csshake */
.shake {
  display: inherit;
  transform-origin: center center;
}
.shake:hover, .shake:focus, .shake:active {
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.shake--continu {
  animation-name: shake;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: inherit;
  transform-origin: center center;
}
.shake--continu:hover, .shake--continu:focus, .shake--continu:active {
  animation-play-state: paused;
}

@keyframes shake {
  2% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  4% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  6% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  8% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  10% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  12% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  14% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  16% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  18% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  20% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  22% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  24% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  26% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  28% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  30% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  32% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  34% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  36% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  38% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  40% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  42% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  44% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  46% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  48% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  50% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  52% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  54% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  56% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  58% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  60% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  62% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  64% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  66% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  68% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  70% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  72% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  74% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  76% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  78% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  80% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  82% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  84% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  86% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  88% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  90% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  92% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  94% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  96% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  98% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); }
}

/* Glitch */
.glitch {
	position: relative;
}
.glitch:hover:before {
  content: attr(data-text);
  position: absolute;
  left: -0px;
  text-shadow: 1px 0 #333;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.glitch:hover:after {
  content: attr(data-text);
  position: absolute;
  left: 0px;
  text-shadow: -1px 0 #333333;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
.glitch--continu {
  position: relative;
}
.glitch--continu.ligneblanchehaut {
  margin-top: 1.62em;
}
.glitch--continu:before {
  content: attr(data-text);
  position: absolute;
  left: -0px;
  text-shadow: 1px 0 #fff;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 2s infinite linear alternate-reverse;
}
.glitch--continu:after {
  content: attr(data-text);
  position: absolute;
  left: 0px;
  text-shadow: -1px 0 #ff0000;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 1s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(21px, 9999px, 76px, 0);
  }
  5% {
    clip: rect(26px, 9999px, 85px, 0);
  }
  10% {
    clip: rect(9px, 9999px, 66px, 0);
  }
  15% {
    clip: rect(71px, 9999px, 86px, 0);
  }
  20% {
    clip: rect(16px, 9999px, 48px, 0);
  }
  25% {
    clip: rect(33px, 9999px, 71px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 72px, 0);
  }
  35% {
    clip: rect(15px, 9999px, 76px, 0);
  }
  40% {
    clip: rect(88px, 9999px, 14px, 0);
  }
  45% {
    clip: rect(78px, 9999px, 60px, 0);
  }
  50% {
    clip: rect(2px, 9999px, 98px, 0);
  }
  55% {
    clip: rect(40px, 9999px, 31px, 0);
  }
  60% {
    clip: rect(40px, 9999px, 100px, 0);
  }
  65% {
    clip: rect(61px, 9999px, 72px, 0);
  }
  70% {
    clip: rect(97px, 9999px, 28px, 0);
  }
  75% {
    clip: rect(83px, 9999px, 91px, 0);
  }
  80% {
    clip: rect(25px, 9999px, 65px, 0);
  }
  85% {
    clip: rect(80px, 9999px, 46px, 0);
  }
  90% {
    clip: rect(79px, 9999px, 65px, 0);
  }
  95% {
    clip: rect(7px, 9999px, 85px, 0);
  }
  100% {
    clip: rect(73px, 9999px, 52px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(98px, 9999px, 23px, 0);
  }
  5% {
    clip: rect(32px, 9999px, 82px, 0);
  }
  10% {
    clip: rect(41px, 9999px, 74px, 0);
  }
  15% {
    clip: rect(31px, 9999px, 92px, 0);
  }
  20% {
    clip: rect(65px, 9999px, 92px, 0);
  }
  25% {
    clip: rect(52px, 9999px, 76px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 50px, 0);
  }
  35% {
    clip: rect(24px, 9999px, 91px, 0);
  }
  40% {
    clip: rect(8px, 9999px, 19px, 0);
  }
  45% {
    clip: rect(57px, 9999px, 51px, 0);
  }
  50% {
    clip: rect(79px, 9999px, 12px, 0);
  }
  55% {
    clip: rect(68px, 9999px, 35px, 0);
  }
  60% {
    clip: rect(88px, 9999px, 49px, 0);
  }
  65% {
    clip: rect(94px, 9999px, 36px, 0);
  }
  70% {
    clip: rect(99px, 9999px, 97px, 0);
  }
  75% {
    clip: rect(12px, 9999px, 21px, 0);
  }
  80% {
    clip: rect(55px, 9999px, 95px, 0);
  }
  85% {
    clip: rect(73px, 9999px, 4px, 0);
  }
  90% {
    clip: rect(15px, 9999px, 64px, 0);
  }
  95% {
    clip: rect(68px, 9999px, 92px, 0);
  }
  100% {
    clip: rect(20px, 9999px, 84px, 0);
  }
}

/* Glitch image */
/* Source : https://codepen.io/chriscoyier/pen/RwboqMr */
.glitch-image > img {
  position: absolute;
  top: 0;
  left: 0;
}
.glitch-image > img:nth-child(2) {
  left: 2px;
  animation: glitch-image-anim-1 2s infinite linear alternate-reverse;
}
.glitch-image > img:nth-child(3) {
  left: -2px;
  animation: glitch-image-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-image-anim-1 {
  0% {
    clip-path: inset(21% 0 33% 0);
  }
  6.6666666667% {
    clip-path: inset(94% 0 2% 0);
  }
  13.3333333333% {
    clip-path: inset(23% 0 53% 0);
  }
  20% {
    clip-path: inset(5% 0 22% 0);
  }
  26.6666666667% {
    clip-path: inset(36% 0 3% 0);
  }
  33.3333333333% {
    clip-path: inset(39% 0 5% 0);
  }
  40% {
    clip-path: inset(21% 0 38% 0);
  }
  46.6666666667% {
    clip-path: inset(83% 0 12% 0);
  }
  53.3333333333% {
    clip-path: inset(70% 0 20% 0);
  }
  60% {
    clip-path: inset(55% 0 19% 0);
  }
  66.6666666667% {
    clip-path: inset(50% 0 26% 0);
  }
  73.3333333333% {
    clip-path: inset(84% 0 4% 0);
  }
  80% {
    clip-path: inset(11% 0 73% 0);
  }
  86.6666666667% {
    clip-path: inset(29% 0 7% 0);
  }
  93.3333333333% {
    clip-path: inset(76% 0 5% 0);
  }
  100% {
    clip-path: inset(1% 0 71% 0);
  }
}
@keyframes glitch-image-anim-2 {
  0% {
    clip-path: inset(41% 0 1% 0);
  }
  6.6666666667% {
    clip-path: inset(21% 0 60% 0);
  }
  13.3333333333% {
    clip-path: inset(1% 0 79% 0);
  }
  20% {
    clip-path: inset(89% 0 1% 0);
  }
  26.6666666667% {
    clip-path: inset(34% 0 41% 0);
  }
  33.3333333333% {
    clip-path: inset(22% 0 38% 0);
  }
  40% {
    clip-path: inset(74% 0 4% 0);
  }
  46.6666666667% {
    clip-path: inset(37% 0 19% 0);
  }
  53.3333333333% {
    clip-path: inset(82% 0 12% 0);
  }
  60% {
    clip-path: inset(82% 0 8% 0);
  }
  66.6666666667% {
    clip-path: inset(43% 0 31% 0);
  }
  73.3333333333% {
    clip-path: inset(78% 0 13% 0);
  }
  80% {
    clip-path: inset(83% 0 4% 0);
  }
  86.6666666667% {
    clip-path: inset(21% 0 66% 0);
  }
  93.3333333333% {
    clip-path: inset(91% 0 1% 0);
  }
  100% {
    clip-path: inset(58% 0 4% 0);
  }
}
