<figure {{ with .Get "class" }}class="{{.}}"{{ end }} data-fancybox="images" data-src="{{ .Get "src" }}">
    {{ with .Get "link"}}<a href="{{.}}">{{ end }}
      <img class="lazy" data-src="{{ .Get "src" }}"{{ if or (.Get "alt") (.Get "caption") }} alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }}{{ with .Get "width" }} width="{{.}}"{{ end }}{{ with .Get "height" }} height="{{.}}"{{ end }}>
    {{ if .Get "link"}}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <h4>{{ .Get "title" }}</h4>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<p>
        {{ .Get "caption" }}
        {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
            {{ .Get "attr" }}
        {{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>
