<p class="block block--left">{{- .Get 0 | markdownify -}}&nbsp;<abbr title="Also sprach Nietzsche.">A.S.N.</abbr></p>
<p class="block block--right">{{- .Get 1 | markdownify -}}&nbsp;<abbr title="Ainsi discuta le traducteur.">A.D.T.</abbr></p>
<p class="block block--left">{{- .Get 2 | markdownify -}}&nbsp;<abbr title="Ainsi disputa le marteau.">A.D.M.</abbr></p>
